a.svelte-1o3dis4{color:#066e06;text-decoration:underline}a.svelte-1o3dis4:visited{color:#226b22a3;text-decoration:underline}a.svelte-1o3dis4:hover,a.svelte-1o3dis4:active{color:#fb3f00;text-decoration:underline}
