name: Deploy to GitHub pages
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Generate static SvelteKit site
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: npm ci
      - run: npm run build

      - name: Add CNAME and .nojekyll
        run: |
          echo www.bkmpvsz.hu >> ./build/CNAME
          touch ./build/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          user_name: 'GitHub Action'
          user_email: 'action@github.com'
