name: Deploy to GitHub pages
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Generate static SvelteKit site
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: npm ci
      - run: npm run build

      - name: Init new repo in build folder and commit generated files
        run: |
          mv build docs
          echo www.bkmpvsz.hu >> ./docs/CNAME
          touch ./docs/.nojekyll
          git init
          git add -A
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'deploy'

#       - name: Force push to destination branch
#         uses: ad-m/github-push-action@v0.5.0
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           branch: gh-pages
#           force: true
#           directory: ./

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          user_name: 'GitHub Action'
          user_email: 'action@github.com'
